<div class="authincation h-100">
        <div class="container vh-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a [routerLink]="['/admin/ecom-product-list']"><img src="assets/logo/png/logo168.png" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Forgot Password</h4>
                                    <form action="index.html">
                                      <div class="form-group">
                                        <label class="mb-1">Select Domain:</label>
                                        <select class="form-control default-select" id="sel1" [(ngModel)]="domain" name="domain" required [ngModelOptions]="{standalone: true}">
                                          <option value=1>Customer</option>
                                          <option value=0>Staff</option>
                                        </select>
                                      </div>
                                        <div class="form-group">
                                            <label><strong>Email</strong></label>
                                            <input type="email" class="form-control" [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block" (click)="onSubmit()">SUBMIT</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
